<h3>All <%= @brand_name %> Products</h3>

<div class="row">
	<% @products_by_brand.each do |product| %>
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-body">
					<div style="height:150px;">
						<%= image_tag product.image, style: "width: 100px; height: 100px;"%>
					</div>
						<p>
							<a href="#" data-toggle="modal" data-target="#myModal_<%= product.id %>">
							<span class="glyphicon glyphicon-plus"></span> quick info
							</a>
						</p>
						<p><strong><%= number_to_currency(product.price, :precision => (product.price.round == product.price) ? 0 : 2) %></strong></p>
						<p><%= product.name %></p>
						<div style="height:150px;">
							<p><%= product.description %></p>
						</div>
						<p>Made by: <%= product.brand %></p>
				</div>
			</div>
		</div>
	<% end %>
</div>